build/
.cproject
.project
.settings/
test/.bundle/
test/tmp/
misc/*.textile*
misc/CHANGELOG.html
misc/README.html
misc/docs
*.o
misc/tools/publisher
misc/tools/subscriber
misc/testdeps/bin
misc/testdeps/sbin
misc/testdeps/redis
misc/testdeps/nginx
